.modalDeletePhoto {
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: none;
}

.modalAddPhoto {
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: none;
}

.bg {
    background-color: rgba(0, 0, 0, 0.3);
}

.window {
    background-color: #FFFFFF;
    width: 630px;
    height: 688px;
    z-index: 2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.titlebar {
    display: flex;
    width: 100%;
    align-items: center;
}

.backbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-top: 30px;
    margin-left: 35px;
    font-size: 21px;
}


.closebtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-top: 30px;
    margin-right: 35px;
    font-size: 20px;
}

.close {
    margin-right: 0px;
    padding-right: 0px;
}

.window h3 {
    color: black;
    font-size: 26px;
    margin-top: 12px;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 10px; 
    width: 425px;
    height: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    overflow-y: auto; /* Permet le défilement vertical */
    overflow-x: hidden; /* Masque le défilement horizontal */
}

.photo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104.8px;
}

.deleteBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
    background-color:black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 3px;
}

.photo img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.separator{
    width: 420px;
    height: 1px;
    background-color: #B3B3B3;
    position: absolute;
    bottom: 120px;
}

.btn {
    width: 222px;
    height: 36px;
    font-size: 14px;
    background-color: #1D6154;
    color: white;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-family: 'Syne';
    position: absolute;
    bottom: 44px;
}


.formAddPhoto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.formAddPhoto label{
    margin-top: 0px;
}

.newphotolabel{
    background-color: #E8F1F6;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #B9C5CC;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0px !important;
}


.newphotolabel i{
    margin-top: 20px;
    font-size: 67px;
}

.newphotolabel span{
    background-color: #CBD6DC;
    width: 173px;
    color: #306685;
    margin-top: 7px;
    border-radius: 50px;
    padding: 10px 0px;
}

.newphotolabel p{
    font-size: 10px;
    margin-top: 6px;
    color: #444444;
    margin-bottom: 20px;
}

.formAddPhoto input[type=file]{
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
}

input[type="number"] {
    appearance: textfield;
}

.btn:disabled {
	background-color: #A7A7A7;
    cursor: not-allowed;
  }

.newphotolabelPreview {
    display: none;
    background-size: cover;
    position: relative;
    height: 164px;
    width: 120px;
}