.myForm {
	width:380px;
	margin: auto;
	margin-top: 150px;
	margin-bottom: 380px;
}
.myForm > * {
	text-align: center;

}
.myForm h2{
	margin-bottom: 20px;
}
.myForm form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

.myForm input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.myForm label {
	margin: 2em 0 1em 0;
}
.myForm textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.myForm a {
    text-decoration: underline;
}

.pt-4 {
	padding-top: 16px;
}